@media (min-width: 768px) {
	.logo-top{
	position: relative;
	width: 60%;
	height: auto !important;
	top: 3px;
	left: 10px;
	}
	.font-logo{
	display: none;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.logo-top{
		display: none !important;
	}
	.font-logo{
	display: block;
	text-align: center;
	}
	.section-heading-page{
		padding-top: 45px !important;
	}
}
@media (max-width: 767px) {
	.logo-top{
		display: none !important;
	}
}

.margin-r-10{
	margin-right: 10px !important;
}
.banner-iklan{
	max-height: 200px;
	overflow: hidden;
	width: 100%;
}
.section-banner-iklan{
	padding: 0px !important;
}
.no-padding{
	padding: 0px !important;
}
.font-logo{
	/*margin-top: 9px !important;*/
}
.margin-b-10{
	margin-bottom: 10px !important;
}
.nav-dashboard{
	margin-bottom: 10px;
}
.thumb_keranjang{
	max-height: 100px;
	max-width: 100px;
	overflow: hidden;
}

/*konten popp tube*/
.base{
	background: url(../images/general/base.jpg);
	background-size: 100% 100%;
	width: 100% ;
	height: 100%;
}
.popuptube{
	width: 300px;
	height: 453px;
	position: relative;
}
.pop_atas,.pop_gambar,.pop_ornamen1,.pop_ornamen2,.pop_ornamen3,.pop_ornamen4,.pop_ornamen5,.pop_ornamen6,.pop_bawah{
position: absolute;
}
.img_pop{
/*width: 100% !important;*/
height: 100% !important;
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;

-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
-o-user-select: none;
user-select: none;
}
.pop_atas{
top: 21%;
width: 90%;
left: 5%;
z-index: 500;
}
.pop_gambar{
width: 54%;
top: 29%;
left: 23%;
/*display: none;*/
height: 44%;
}
.pop_ornamen1{
top: 28%;
width: 30%;
left: 5%;
z-index: 500;
height:16%;
}
.pop_ornamen4{
top: 28%;
width: 30%;
left: 65%;
z-index: 500;
height:16%;
}
.pop_ornamen2{
top: 40%;
width: 30%;
left: 5%;
z-index: 500;
height:16%;
}
.pop_ornamen5{
top: 40%;
width: 30%;
left: 65%;
z-index: 500;
height:16%;
}
.pop_ornamen3{
top: 53%;
width: 30%;
left: 5%;
z-index: 500;
height:16%;
}
.pop_ornamen6{
top: 53%;
width: 30%;
left: 65%;
z-index: 500;
height:16%;
}
.pop_bawah{
top: 64%;
width: 90%;
left: 5%;
z-index: 499;
}