@media (min-width: 768px) {
	.logo-top{
	position: relative;
	width: 60%;
	height: auto !important;
	top: 3px;
	left: 10px;
	}
	.font-logo{
	display: none;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.logo-top{
		display: none !important;
	}
	.font-logo{
	display: block;
	text-align: center;
	}
	.section-heading-page{
		padding-top: 45px !important;
	}
}
@media (max-width: 767px) {
	.logo-top{
		display: none !important;
	}
}

.margin-r-10{
	margin-right: 10px !important;
}
.banner-iklan{
	max-height: 200px;
	overflow: hidden;
	width: 100%;
}
.section-banner-iklan{
	padding: 0px !important;
}
.no-padding{
	padding: 0px !important;
}
.font-logo{
	/*margin-top: 9px !important;*/
}
.margin-b-10{
	margin-bottom: 10px !important;
}
.nav-dashboard{
	margin-bottom: 10px;
}
.thumb_keranjang{
	max-height: 100px;
	max-width: 100px;
	overflow: hidden;
}

/*konten popp tube*/
.base{
	background: url(../images/general/base.jpg);
	background-size: 100% 100%;
	width: 100% ;
	height: 100%;
}
.popuptube{
	width: 300px;
	height: 453px;
	position: relative;
}
.pop_atas,.pop_gambar,.pop_ornamen1,.pop_ornamen2,.pop_ornamen3,.pop_ornamen4,.pop_ornamen5,.pop_ornamen6,.pop_bawah{
position: absolute;
}
.img_pop{
/*width: 100% !important;*/
height: 100% !important;
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;

-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
-o-user-select: none;
user-select: none;
}
.pop_atas{
top: 21%;
width: 90%;
left: 5%;
z-index: 500;
}
.pop_gambar{
width: 54%;
top: 29%;
left: 23%;
/*display: none;*/
height: 44%;
}
.pop_ornamen1{
top: 28%;
width: 30%;
left: 5%;
z-index: 500;
height:16%;
}
.pop_ornamen2{
top: 28%;
width: 30%;
left: 65%;
z-index: 500;
height:16%;
}
.pop_ornamen3{
top: 40%;
width: 30%;
left: 5%;
z-index: 500;
height:16%;
}
.pop_ornamen4{
top: 40%;
width: 30%;
left: 65%;
z-index: 500;
height:16%;
}
.pop_ornamen5{
top: 53%;
width: 30%;
left: 5%;
z-index: 500;
height:16%;
}
.pop_ornamen6{
top: 53%;
width: 30%;
left: 65%;
z-index: 500;
height:16%;
}
.pop_bawah{
top: 64%;
width: 90%;
left: 5%;
z-index: 499;
}

/*alternative interactive*/
.ornamen_alt_konten{
	height: 211px;
	border: 1px solid #dbdbdb;
}
.ornamen_alt_konten:hover{
	border-color: purple;
}

.ornamen_alt_atasbawah{
	height: 115px;
	border: 1px solid #dbdbdb;
}
.ornamen_alt_atasbawah:hover{
	border-color: purple;
}
.img_alt_merch{
	max-height: 100%;
}
.owl-carousel .item{
	margin: 0px 5px;
}

/*custom modal transparan*/
.modal-content-transparant{
position: relative;
background-color: rgba(255, 255, 255, 0);
-webkit-background-clip: padding-box;
background-clip: padding-box;
/*border: 1px solid #999;*/
/*border: 1px solid rgba(0,0,0,.2);*/
/*border-radius: 6px;*/
outline: 0;
-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
/*box-shadow: 0 3px 9px rgba(0,0,0,.5);*/
}
.modal-header-transparant{

}
.fa-box-custom{
color: #fff !important;
border: solid 1px #1abc9c !important;
}
.modal-dark{
	background: rgba(21, 21, 21, 0.51) none repeat scroll 0% 0%;
	z-index: 1600;
}
.close-device{
	margin: 0px;
font-size: 2.5em;
margin: 3px 11px;
color: rgb(254, 254, 254);
}